/* Style for spoken text */
.speech {
    font-style: Arial;
    font-size: 16px;
    color: black;
}

/* Style for directions */
.direction {
    font-family: serif;
    font-size: 14px;
    color: black;
    background-color: #f2f2f2; /* Light gray background color for directions */
    transition: background-color 0.3s, color 0.3s; /* Transition effect on hover */
}

/* Change background-color and text color on hover for directions */
.direction:hover {
    background-color: #e0562c; /* Lighter gray background color on hover */
    color: rgb(214, 189, 232); /* Reset text color on hover */
}

/* Character-specific styles */
.character-MrsAlving {
    color: rgb(209, 33, 209);
    font-style: monospace;
    font-weight: bold;
}

.character-Manders {
    color: rgb(9, 115, 185);
    font-weight: bold;
    font-style: monospace; /* Font style for Manders */
}

.character-Oswald {
    color: rgb(127, 133, 40);
    font-weight: bold;
    font-style: serif; /* Font style for Oswald */
}
/* Define styles for character names */
.name {
    font-weight: bold;
    font-family: Times New Roman;
    color: rgb(144, 52, 219);
}
